.hidden {
  display: none !important;
}
.description {
  flex-grow: 1;
  padding: 10px 20px;
}

.loading {
  display: block;
}
.spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
  display: none;
}

.spinner.loading{
  display: block;
}

.contentBlock__alert{
  height: 100px;
}
.contentBlock__alert{
  display: none;
}
.contentBlock__alert.connected{
  display: block;
}

.noFoundMarker {
  margin: 10px;
  margin-bottom: 50px;
}

.noFoundMarker.hidden {
  display: none;
}
.contentBlock__nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.Content__input{
  margin-bottom: 20px;
}

.displayBlock{
  display: block !important;
}

.displayNone{
  display: none !important;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.description__list{
  margin-bottom: auto;
}

.description__wrapper{
  height: 279px;
  box-shadow: 4px 4px 10px 5px #D9D9D9;
  display: flex;
  justify-content: flex-end;
}

.Description__description{
  width: 350px;
  padding: 20px;
}